# Hugging Face API Token
# Visit this page (https://huggingface.co/settings/tokens)
HF_TOKEN=*your read token here*

# Hugging Face cache directory path
HF_CACHE_PATH=H:\huggingface_cache

# CUDA home directory
CUDA_HOME=/usr/local/cuda

# Server port
SERVER_PORT=8000
